* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  margin: 20px;
  align-items: center;
}

header .logo img {
  width: 120px;
  height: auto;
}

header nav {
  display: flex;
  list-style: none;
  gap: 40px;
  margin-left: 200px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 30%;
}

main .cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

main .card {
  display: flex;
  flex-direction: column;
}

main .card img {
  width: 200px;
  height: 200px;
}

main .card .cardData {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

main .card .cardData img {
  width: 24px;
  height: auto;
}

.cardName {
  font-size: 20px;
}

.nameTitle {
  display: flex;
  flex-direction: column;
}

.likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.imageLike {
  cursor: pointer;
}

.btnComment {
  border-radius: 5px;
  margin-bottom: 10px;
}

.btnReservation {
  border-radius: 5px;
}

.textFooter {
  margin-top: 20px;
}
